body {
  background: rgba(148,49,214,1);
}

h2 {
    font: normal 24px/1 Verdana, Times, serif;
    padding: 10px;
    margin: 10px;
    color: rgba(255, 255, 255, 0.89);
      -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 1px rgba(215, 215, 215, 0.68);
}

h3 {
    font: normal 18px/1 Verdana, Times, serif;
    padding: 10px;
    margin: 10px;
    color: rgba(246, 246, 246, 0.96);
      -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}


.form-label {
    font: normal 18px/1 Verdana, Times, serif;
    padding: 1px 5px;
    margin: 5px;

    color: rgba(235, 235, 235, 0.89);
}

.form-field {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #df9938;
  margin: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal Verdana, Geneva, sans-serif;
  color: rgb(179, 179, 179);
  -o-text-overflow: clip;
  text-overflow: clip;
  background-color: rgba(91,91,91,0.89);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.22) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.22) inset;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.form-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #df9938;
  margin: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal Verdana, Geneva, sans-serif;
  color: rgba(0,3,5,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(60, 60, 60);
  background-color: rgba(91,91,91,0.89);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.22) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.22) inset;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  border: 1px solid #df9938;
  -webkit-border-radius: 8px;
  border-radius: 4px;
  font: normal 16px/normal Verdana, Times, serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(91,91,91,0.89);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  float: right;
}

p {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 2px solid #b7b7b7;
  padding: 10px 5px;
  margin: 10px;
  font: normal 16px/1 Verdana, Times, serif;
  color: rgb(60, 60, 60);
    line-height: 150%;
  background-color: rgba(203, 203, 203, 0.8);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
      border-radius: 4px;

}

/* unvisited link */
a:link {
    color: rgb(0, 55, 212);
}

/* visited link */
a:visited {
    color: rgb(156, 80, 42);
}

/* mouse over link */
a:hover {
    color: #2868ff;
}

/* selected link */
a:active {
    color: rgba(250, 132, 66, 1);
}